<alert></alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="isFieldInvalid('email')">
      Please enter Email
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="isFieldInvalid('password')">
      Please enter password
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
