.text-align{
    text-align: center;
  }
  
  .header-color{
    color: white;
  }
  
  .width-30{
    width: 34%;
  }
  
  .margin-left-33{
    margin-left: 33%;
  }
  
  .post-btn{
    background-color: white;
  color: #007bff;
  border-color: #007bff;
  }
  
  .margin-20{
    margin-top: 20px;
  }