<form class="text-align" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
      <h1 class="header-color">Ask Question</h1>
    </label>
    <textarea class="form-control width-30 margin-left-33" id="exampleTextarea" rows="4"></textarea>
  </div>
  <button type="submit" class="btn post-btn">Submit</button>
</form>
<div class="card margin-20">
  <div class="card-header">
    Latest Questions
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="text-center">
      <a href="#" class="btn btn-primary">View All Questions</a>
    </div>
  </div>
</div>
<div class="card margin-20">
  <div class="card-header">
    Latest Article
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="text-center">
      <a href="#" class="btn btn-primary">View All Articles</a>
    </div>
  </div>
</div>
<div class="card margin-20">
  <div class="card-header">
    Latest Joke
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="text-center">
      <a href="#" class="btn btn-primary">View All Jokes</a>
    </div>
  </div>
</div>